<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LG G5 &amp; Friends</title>
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

        <style type="text/css">
        	body {
        		
        		/*margin:0;
			    padding:0;
			    border:0;
			    outline:0;
			    font-size:100%;
        		font-family: 'Droid Sans', sans-serif, Arial, 'Helvetica';
        		color: #6c6d6f;*/
        	}
        	table {
			    border-collapse:collapse;
			    border-spacing:0;
			}
			h2 {
				margin-bottom:50px;
			}
        </style>
    </head>

    <body marginwidth="0" marginheight="0" bgcolor="#ffffff" >
    	<table width="750" cellpadding="0" cellspacing="0">
    		<tr>
    			<td align="center" valign="top">
    				<img src="header-email.jpg">
    			</td>
    		</tr>
    		<tr>
    			<td align="center" valign="top" style="padding-top:45px">
    				<table border="0" cellpadding="0" cellspacing="0" width="90%">
    					<tr>
    						<td>
    							<h2>Hi, Friends!</h2>
    							<p style="margin-bottom:50px">
    								Selamat kamu telah berhasil mencocokkan LG Friends dengan keunggulan yang dimilikinya.<br> 
    								Berkat keberhasilanmu itu, kami akan memberimu kode unik yang bisa kamu tukarkan dengan hadiah spesial dari LG.
    							</p>
    							<h2>Kode Unik <span style="color:#a8b100">s9wp1p55jh</span></h2>
    							<p style="margin-bottom:30px">
    								Tukarkan kode unik ini ke LG Store terdekat dan ambil hadiah spesialnya. 
    								<br>
    								Hadiah hanya diberikan untuk 50 (lima puluh) orang pertama yang datang ke LG Store yaaaa…!
    							</p>
    							<p style="margin-bottom:50px">
    								Jangan lupa share foto keceriaanmu beserta pengalaman serumu bersama LG Friends untuk memenangkan LG G5 dan LG smartphone lainnya!
    							</p>
    							<h3 style="color:#a8b100">Come and Play with LG Friends!</h3>
    						</td>
    					</tr>
    				</table>
    			</td>
    		</tr>
    		<tr>
    			<td align="right" valign="bottom" style="padding-top:80px">
    				<img src="footer-email.jpg">
    			</td>
    		</tr>
    	</table>
    </body>
</html>